// Define variables for your color scheme

// For example:
$green-button: #146d4f;
$green-logo: #7bb955;
$green-dark: #0a3b3a;
$green: #76A665;
$yellow: #fecf53;
$gray-font: #626262;
$gray: #000000;
$light-gray: #F4F4F4;
$red: #DC4712;
$orange: #EE712B;
$white: #FFFFFF;
$blue: #4586FF;
