#about {
  height: calc(100vh - 55px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: linear-gradient(0deg, white 50%, #F4F4F4 50%);
}

.img-about {
  border-radius: 40%;
  height: 100px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.about-content h2 {
  font-size: 15px;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0px;
  color: rgba(0,0,0,0.7);
  font-family: $body-font;
}
h2 {
  font-size: 17px;
  font-weight: bold;
  color: rgba(0,0,0,0.6);
  font-family: $body-font;
}
a {
  color: rgba(0,0,0,0.25);
  font-weight: bold;
  letter-spacing: -0.5px;
  font-size: 15px;
}
