.profile-dash {
  display: flex;
  height: calc(100vh - 70px);
}
.form-button{
  border: solid #146d4f !important;
  font-weight: lighter !important;
  width : 140px !important;
  margin: 10px;
  &:hover {
    color: white !important;
  }
  i {
    font-size: 12px;
  }
}
.form-button:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.profile-dash .main-dash {
  flex: 0 0 25%;
  position: sticky;
  padding: 0;
  height: 80vh;
}
.profile-dash .right-dash {
  flex: 0 0 73%;
  position: sticky;
  padding: 0;
  margin: 0;
}
.profile-dash .pending {
}
.main-dash, .pending, .accepted, .past {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  ul {
    padding-left: 0;
  }
  h3 {
    color: $green;
  }
  li {
    list-style: none;
  }
}
@media (max-width: 940px) {
  .profile-dash {
    display: block;
  }
}

.main-content {
  font-size: 14px;
  margin: 5% auto;
}

/* Fonts and colors */
.profile-dash h2 {
  font-size: 22px;
}
.profile-dash h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.profile-dash p {
  color: rgba(0,0,0,0.6);
  margin-top: 0 !important;
}

.container-form {
  width: 80%;
  margin: 20px auto;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  font-weight: lighter;
}

.profile-dash .btn {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #37B686;
}
.profile-dash .btn:hover {
  background: #37B686;
  opacity: 0.7;
}
#validate-green {
  color: $green;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
#delete-red {
  color: $red;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
#wait-orange {
  color: $orange;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
.booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 5px;
}
.pending-bookings, .accepted-bookings, .past-bookings {
  width: 98%;
}
.booking-dates {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .booking-start {
    flex: 0 0 50%;
  }
  .booking-end {
    flex: 0 0 50%;
  }
}
.booking-user-photo, .booking-plant-photo {
  flex: 0 0 5%;
  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid $green;
  }
}
.booking-user {
  flex: 0 0 27.5%;
}
.booking-plant {
  flex: 0 0 27.5%;
}
.booking-status {
  flex: 0 0 10%;
}
.img-circle-dashboard {
  height: 100px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #146d4f;
  border-top-radius: 4px;
  color: white;
  font-weight: lighter;
  font-size: 17px;
  margin: 0;
}
.nav-tabs > li > a {
  color: rgb(20, 109, 79);
  font-weight: lighter;
  font-size: 17px;
  background-color: rgba(20, 109, 79, 0.3);
}
.nav-tabs > li > a:hover {
  background-color: rgba(20, 109, 79, 0.6);
  color: white;
}
ul.nav.nav-tabs {
  padding: 20px;
  border-bottom: none;
}
.main-dash li, .pending li, .accepted li, .past li {
  position:relative;
}
.notify-badge, {
  position: absolute;
  top: -10px;
  background: $red;
  right: -7.5px;
  text-align: center;
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
  font-size: 10px;
}
