.profile-dash {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 70px);
  padding: 30px;
}
.form-button {

margin-bottom: 20px;
border: solid #146d4f;
font-weight: lighter;
width : 150px !important;
}

.form-button:hover {
box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.profile-dash .main-dash {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}
.profile-dash .past {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
.main-dash, .past, .current {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  ul {
    padding-left: 0;
  }
  h3 {
    color: $green;
  }
  li {
    list-style: none;
  }
}
@media (max-width: 940px) {
  .profile-dash {
    display: block;
  }
}

.main-content {
  font-size: 14px;
  padding-bottom: 30px;
  margin: 5% auto;
}

/* Fonts and colors */
.profile-dash h2 {
  font-size: 22px;
}
.profile-dash h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.profile-dash p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(0,0,0,0.6);
}

.container-form {
  width: 80%;
  margin: 20px auto;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  font-weight: lighter;
}
