// Import page-specific CSS files here.
@import "home";
@import "signup";
@import "signin";
@import "dashboard";
@import "usershow";
@import "show";

body {
  margin: 0;
  font-family: $body-font;
  font-size: 18px;
  background: #F4F4F4;
}

p {
  font-weight: 300;
}

.padded {
  padding: 30px 0;
}

.content {
  display: flex;
}

