.banner-plant {
  color: white;
  text-align: center;
  height: 40vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  background-position: center;
}
.container-plant {
  display: flex;
  margin: 0 80px;

}
.plant-information {
  width: 65%;
}

.plant-information p {
  font-weight: 350;
}

#booking-form {
  .book-form {
    top: 25px;
    position: sticky;
  }
  width: 35%;
}
.img-circle {
  border-radius: 60%;
  height: 60px;
}

#plant-description {
  background: $light-gray;
  font-size: 16px;
  color: #000000;
  border-top: black;
  padding: 0 60px 0 0;
  text-align: justify;
}

#plant-data {
  font-weight: normal;
  font-size: 14px;
  color: #797373;
}

.plant-reviews {
  margin-bottom: 10px;
}

.map h6 {
  margin: 0 80px;
  padding-bottom: 20px;
}
