<li class="booking">
  <div class="pending-booking-user-photo"></div>
  <div class="pending-booking-plant-photo"></div>
  <div class="pending-booking-plant"><strong>Plant</strong></div>
  <div class="pending-booking-user"><strong>Contact</strong></div>
  <div class="pending-booking-dates">
    <div class="pending-booking-start"><strong>From</strong></div>
    <div class="pending-booking-end"><strong>To</strong></div>
  </div>
  <div class="pending-booking-status"><strong>Status</strong></div>
</li>
