<li class="booking">
  <div class="booking-user-photo"></div>
  <div class="booking-plant-photo"></div>
  <div class="booking-plant"><strong>Plant</strong></div>
  <div class="booking-user"><strong>Contact</strong></div>
  <div class="booking-dates">
    <div class="booking-start"><strong>From</strong></div>
    <div class="booking-end"><strong>To</strong></div>
  </div>
  <div class="booking-status"><strong>Status</strong></div>
</li>
