
<%= render "shared/navbar" %>
<div class="dashboard-container">

  <div class="profile-dash text-center">
    <div class="main-dash">
      <div class="main-content">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/Alexialet", class: "img-circle" %>
        <h2>User's name</h2>
        <%= link_to 'Complete your profile', user_path(current_user), class: "btn-green" %>

        <%= link_to 'See all my plants', user_path(current_user), class: "btn-green" %>
      </div>
    </div>
    <div class="current">
      <div class="stat-content">
        <h3>Pending Plants</h3>
        <p>repositories</p>

      </div>
      </div>
    <div class="past">
      <div class="description-content">
        <h3>Current Plants</h3>
        <p class="text-justify">
        </p>
      </div>
    </div>
  </div>
</div>





