
<%= render "shared/navbar" %>

<div class="dashboard-container">
  <div class="row">
    <div class="col-xs-6">
      <h1>WELCOME TO YOUR DASHBOARD </h1>
      <p><%= @user.email %></p>
      <p>To do : type form to add avatar and name</p>
    </div>
    <div class="col-xs-6">
      <h1>My history</h1>
      <p>Plants rented</p>
      <p>Pending requests</p>
    </div>
</div>
