<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url('<%= image_path "plant_background.jpg", class: "background-image" %>');">
  <div class="banner-content">
    <h2> Plantor</h2>
    <p>Rent beautiful plants from people around you.</p>
       <div class="btn btn-primary btn-home"> <%= link_to "Rent a plant", plants_path(@plant) %>
       </div>
  </div>
</div>
