  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 50%), url('https://kitt.lewagon.com/placeholder/cities/shanghai'); %>')">
  <div class="card-category">
    <%= link_to plant.name, plant_path(plant) %>
  </div>
  <div class="card-description">
    <%= plant.category %>
    <%= plant.price_per_day %><br>
  </div>
</div>
