<div class="container-plants">
  <div class="row">
    <div class="cards-plants">
      <% @plants.each do |plant| %>
        <%= render "shared/cards", plant: plant %>
      <% end %>
    </div>
  </div>
</div>
