.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 46px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  opacity: 0.8;
}
.banner h2 {
  font-size: 30px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  opacity: 0.7;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
