.btn-home {
  color: white;
  padding: 10px;
  border-color: $green-dark !important;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none !important;
  background: #146d4f;
  transition: background 0.3s ease;
  width : 50%;
}

.btn-home:hover {
  opacity: 0.9;
  background: #146d4f;
  border-color: #146d4f;
  color: white;

}

.btn-secondary {
  color: white;
  padding: 6px 10px;
  border-color: #146d4f;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none !important;
  background: #146d4f;
  transition: background 0.3s ease;
}

.btn-back {
  border-color: #146d4f;
  border-radius: 3px;
  padding: 5px 10px;
  color: #146d4f;
  font-size: 15px;
}

.btn-category {
  border: 1px solid #146d4f;
  border-radius: 3px;
  padding: 5px 10px;
  color: #146d4f;
  font-size: 15px;
  cursor: hand;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant-categories {
  height: 25px;
}


