.card-container {
  overflow-y: scroll;
  margin-top: 30px;
  margin-left: 20px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

#map {
  flex: 0 0 35%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

.card {
  display: flex;
  height: 350px;
  // text-shadow: 0 1px 3px rgba(250,250,250,250.6);
  background-size: cover !important;
  background-position: center;
  position: relative;
  margin: 30px;
  padding: 10px;
  margin-right: 0px;
  border-radius: 5px;
  font-style: $body-font;
  min-width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card:hover {
  background-size: cover !important;
  color: green;
  opacity: 0.7;
}

.card-category {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 15px;
  margin-right: 10px;
  color: white;
  padding-left: 10px;
  padding-top: 15px;
  text-transform: uppercase;
  opacity: 0.8;
}

.card-category:hover {
  text-shadow: 0 1px 3px rgba(250,250,250,250.6);
  color: white;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  margin-right: 10px;
}

.card-description h3 {
  font-size: 24px;
}
.card-description p {
  font-size: 20px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
