<div class= "container-form">
  <div class="form-new">
    <h2><%= image_tag('logo.png', class:'icon') %> Add a review about <%= @booking.plant.name %></h2>
    <form action="">
      <%= render 'form' %>
    </form>
  </div>
</div>
